.extra-pagination.inner
  = partial(:pagination) if paginate

- page_articles.each do |article|
  %article.post
    %header.post-header
      %h2.post-title.reset-margin= link_to article.title, article
      - if sub_title = article.data[:sub_title]
        %section.sub-title
          = sub_title
    %section.post-excerpt
      %p
        = summary(article)
        = link_to '&raquo;', article, class: 'read-more'
    %footer.post-meta
      - if gravatar?
        %img.author-thumb{src: gravatar(24), alt: 'Author image', nopin: 'nopin'}
      %a{href: author_path}= blog_author.name
      - if tags?(article)
        on #{tags(article)}
      %time.post-date{datetime: article.date.strftime('%Y-%m-%d')}
        = article.date.strftime(blog_settings.date_format)
      %span.time-left
        = text_to_end_in_minutes(article.body)

= partial(:pagination) if paginate
